/* stylesheet by © Anupam Mondal for ZSign */

body {
    background-image: url(res/what-is-my-zodiac-sign.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    padding-top: 3%;
    padding-bottom: 3%;
}

td.rspin {
    background-color: #000000cc;
}

td {
    width: 80px;
    height: 80px;
}

.spin {
    -webkit-animation: cwspin 8s linear infinite;
    animation: cwspin 8s linear infinite;
}

@-webkit-keyframes cwspin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes cwspin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rspin {
    width: fit-content;
    -webkit-animation: acwspin 8s linear infinite;
    animation: acwspin 8s linear infinite;
}

@-webkit-keyframes acwspin {
    0% {
        -webkit-transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes acwspin {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}