/* stylesheet by © Anupam Mondal for ZSign */

#bg-gradient {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 18%, rgba(6, 64, 162, 1) 45%, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 1) 100%);
}

td {
    width: 80px;
    height: 80px;
}
#z-sign {
    font-size: 5em;
}

.spin {
    -webkit-animation: cwspin 5s linear infinite;
    animation: cwspin 5s linear infinite;
}

@-webkit-keyframes cwspin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes cwspin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rspin {
    width: fit-content;
    /* border-radius: 50%;
    border: #959595 dashed 1px;
    background-color: #ffffff; */
    -webkit-animation: acwspin 5s linear infinite;
    animation: acwspin 5s linear infinite;
}

@-webkit-keyframes acwspin {
    0% {
        -webkit-transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes acwspin {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#stop-spin:hover,
#stop-spin:hover tr td div.rspin {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
    /* cursor: pointer; */
}